In [113]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

from hw2 import lin_regr

https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop

In [118]:


headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

Market_values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

Age = pageSoup.find_all("td",{"class": "zentriert"})

AgeList = []

for i in range (1,100,4):
    AgeList.append(Age[i].text)

AgeList

PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(market_values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Market_values":ValuesList,"Age":AgeList})

df.to_csv("Football_players.csv")

market_values_in_millions = df.iloc[:,1].str.extract("(\d+)")

df.Market_values = market_values_in_millions

df.iloc[:,1] = pd.to_numeric(df.iloc[:,1])

df.iloc[:,2] = pd.to_numeric(df.iloc[:,2])

In [119]:
df

                   Players  Market_values  Age
0            Kylian Mbappé            200   21
1          Raheem Sterling            160   25
2                   Neymar            160   28
3               Sadio Mané            150   27
4            Mohamed Salah            150   27
5               Harry Kane            150   26
6          Kevin De Bruyne            150   28
7             Lionel Messi            140   32
8             Jadon Sancho            120   19
9        Antoine Griezmann            120   28
10  Trent Alexander-Arnold            110   21
11          Bernardo Silva            100   25
12            N'Golo Kanté            100   28
13              Leroy Sané            100   24
14         Virgil van Dijk            100   28
15              Paul Pogba            100   26
16               Jan Oblak            100   27
17             Eden Hazard            100   29
18              João Félix             90   20
19         Frenkie de Jong             90   22
20             Kai Havertz             90   20
21            Paulo Dybala             90   26
22            Serge Gnabry             90   24
23             Saúl Ñíguez             90   25
24         Roberto Firmino             90   28

In [114]:
lin_regr(df.iloc[:,[1,2]])

Betas:
[[96.17737473]
 [ 0.84076237]]
Std. Errors:
 [[106.7102344 ]
 [  4.15482353]]
Confidence Intervals 95 %:
 [[-112.97468469  305.32943416]
 [  -7.30269174    8.98421649]]

    Market_values  Age
0             200   21
1             160   25
2             160   28
3             150   27
4             150   27
5             150   26
6             150   28
7             140   32
8             120   19
9             120   28
10            110   21
11            100   25
12            100   28
13            100   24
14            100   28
15            100   26
16            100   27
17            100   29
18             90   20
19             90   22
20             90   20
21             90   26
22             90   25
23             90   28
24             90   27